name: Daily Grocery Price Monitor

on:
  schedule:
    - cron: "0 2 * * *"   # Runs every day at 2 AM UTC
  workflow_dispatch:

jobs:
  run-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4 pandas

      - name: Run scraper
        run: python scraper.py

      - name: Run analytics
        run: python metrics.py
